/* -- General --*/

@media (max-width: 767px) {
    html,
    body {
        overflow-x: hidden;

    }
}
@media (min-width:992px) {
    body {
         min-width: 1240px;
    }
}
body {
    font-family: 'Lato', sans-serif;
   
    font-style: normal;
    height: 100%;
    margin: 0;
}

p {
    font-weight: 400;
}

/* -- /General --*/

/* -- Style Reset --*/

.no-padding {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

/* -- /.Style Reset --*/

/* -- /. Navigation Bar --*/

#mainnav {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

#mainnav a {
    color: white;
}

#logo {
    padding-left: 25px;
    padding-right: 25px;

}

/* -- Social Icon -- */

#social i {
    color: white;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 5px;
    background: transparent;

}

/* -- /.Social Icon -- */

/* -- /.Search Form --*/

.form-inline {
    margin-top: 5px;
    float: right;
}

.form-inline i {
    margin-top: 5px;
    color: white;
}

.form-inline input[type=text] {
    margin-top: 2px;
    background-color: black;
    border: 0px;
    color: white;
}

.form-inline textarea:focus,
input:focus {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.mbrand {}

@media (max-width: 767px) {
    .form-inline {
        padding: 0px;
        margin: 0px;
        float: left;
    }
}

@media (max-width:767px) {
    #logo {
        display: none;
    }
    #social ul {
        display: none;
    }

}

@media (min-width:1200px) {
    .mbrand {
        display: none;
        visibility: hidden;

    }
}

.mbrand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;

}

/* -- /.Search Form --*/

/* -- /. Navigation Bar --*/

/* -- Slider --*/

.slider {
    padding: 0px;
    margin: 0px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.img-responsive {
    width: 100%;
    height: auto;
}

@media (min-width: 992px) {
    .carousel-inner .active.left {
        left: -25%;
    }
    .carousel-inner .next {
        left: 25%;
    }
    .carousel-inner .prev {
        left: -25%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner .active.left {
        left: -33.3%;
    }
    .carousel-inner .next {
        left: 33.3%;
    }
    .carousel-inner .prev {
        left: -33.3%;
    }
    .active > div:first-child {
        display: block;
    }
    .active > div:first-child + div {
        display: block;
    }
    .active > div:last-child {
        display: none;
    }
}

@media (max-width: 767px) {
    .carousel-inner .active.left {
        left: -100%;
    }
    .carousel-inner .next {
        left: 100%;
    }
    .carousel-inner .prev {
        left: -100%;
    }
    .active > div {
        display: none;
    }
    .active > div:first-child {
        display: block;
    }
}

.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.carousel-content p {
    text-align: left;
    margin-bottom: 4px;
}

.carousel-content h3 {
    margin: 3px 0px;
}
.carousel-content a {
    text-decoration: none;
    color: white;
}
#catagory {
   background-color: green;
    padding: 7px;
    text-transform: uppercase;
}

/* -- /.Slider --*/

/* -- Subscribe Section --*/

#subscribe {
    padding: 30px;
    margin-top: 50px;
    background-color: #DCDCDC;

}

#subscribe-form {
    padding: 12px;
    width: 100%;
}

#subscribe-form input[type=text] {
    margin-top: 6px;
    background-color: white;
    width: 80%;
}

#subscribe-form::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

#subscribe-form:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

#subscribe-form::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

/* -- /.Subscribe Section --*/

/* -- Sidebar --*/

.sidebar {
    padding: 20px;
    text-align: center;
}

.sidebar h3 {
    padding-bottom: 15px;

}

.border {
    border-bottom: 10px solid #000;
    width: 20%;
}

.sidebar img {
    border-radius: 50%;
    margin-top: 20px;
    width: 200px;
    height: 200px;

}

.sidebar p {
    padding-top: 20px;
}

/* --  Social Icon --*/

.SocialIcon {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 3px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* --  Social Icon --*/

.advertisement img {
    border-radius: 0%;
    margin-top: 20px;
    height: 250px;
    width: 300px;
    padding-left: 0px !important;
    margin-left: 0px !important;
    float: left;
}

/* -- Main Post --*/

#main {
    max-width: 1240px;
}

#main-post {
    margin-top: 25px;
    margin-left: 80px;
    text-align: center;
}

@media (max-width: 767px) {
    #main-post {

        margin-left: 10px;
    }
}

#main-post h2 {
    text-transform: uppercase;
}

#main-post img {
    padding-top: 25px;
    height: 500px;
}

.main-postButton {
    background-color: transparent;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 3px solid #0a0a0a;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 19px;
    padding: 9px 45px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.main-postButton:hover {
    background-color: transparent;
}

.main-postButton:active {
    position: relative;
    top: 1px;
}

/* -- /.Main Post --*/

/* -- Secendary Post --*/

#secondary-post {
    margin-top: 25px;
    margin-left: 100px;
    text-align: center;
}

.singlePost {
    margin-top: 30px;

}

.singlePost h4 {
    text-transform: uppercase;
    padding: 5px 20px;
}

.singlePost p {
    padding: 5px 20px;
}

@media (max-width: 767px) {
    #secondary-post {
        margin-top: 25px;
        margin-left: 10px;

    }
}

/* -- /.Secendary Post --*/

/* -- Recent Post --*/

.recent h4 {
    text-align: left;
    padding-top: 25px;
}

.border2 {
    border-bottom: 2px solid #000;
    width: 80%;
}

.post img {
    border-radius: 0%;
    height: 100px;
    width: 100px;
    float: left;
    margin: 30px 10px;
}

.post a {
    text-decoration: none;
    width: 70%;
    margin-top: 15px;
    color: black;

}

.post h5 {
    text-align: left;
}

.post p {
    margin-top: -20px;
    text-align: left;
}

/* -- /.Recent Post --*/

/* -- /.Sidebar --*/

/* -- Follow --*/

#follow {

    margin-top: 30px;
}

#follow img {
    margin: 0px;
    padding: 0px;
    height: 300px;
    ;
    width: 100%;
}

#follow .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* -- /.Follow --*/

/* -- Footer --*/

.footer1 {

    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
    color: black;

}

.copyright {
    background-color: black;
    margin-bottom: -150px;
    color: white;
    margin-top: 10px;
    padding: 5px;
    height: auto;
}

@media (max-width: 767px) {
    .copyright {
        padding-bottom: 30px;
    }
    .copyright p {
        text-align: center;
    }
    .right {
        float: none;
    }
}

@media (min-width:992px) {
    .right {
        float: right;
    }
}


.subscribe {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.submit{
    background-color: black;
    color: white;
}
input {
    width: 130%;
    padding: 10px;
   
}

#footerCaragories img {
    height: 60px;
    width: 80%;
    margin: 10px;
}

/* -- /Footer --*/
